[class*="card-"] {
  background-image: url("/carddecks/svg-dondorf/dondorf.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 168px;
  line-height: 168px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 108px;
  background-size: 1632.6px 909.6px;
  position: absolute;
}
[class*="selected"] {
  top: -40px;
}
[class*="card-treff-asz"] {
  background-position: -4px 0px;
}
[class*="card-treff-2"] {
  background-position: -130.6px 0px;
}
[class*="card-treff-3"] {
  background-position: -257.2px 0px;
}
[class*="card-treff-4"] {
  background-position: -383.79999999999995px 0px;
}
[class*="card-treff-5"] {
  background-position: -510.4px 0px;
}
[class*="card-treff-6"] {
  background-position: -637px 0px;
}
[class*="card-treff-7"] {
  background-position: -763.5999999999999px 0px;
}
[class*="card-treff-8"] {
  background-position: -890.1999999999999px 0px;
}
[class*="card-treff-9"] {
  background-position: -1016.8px 0px;
}
[class*="card-treff-10"] {
  background-position: -1143.3999999999999px 0px;
}
[class*="card-treff-J"] {
  background-position: -1270px 0px;
}
[class*="card-treff-Q"] {
  background-position: -1396.6px 0px;
}
[class*="card-treff-K"] {
  background-position: -1523.1999999999998px 0px;
}
[class*="card-karo-asz"] {
  background-position: -4px -186.6px;
}
[class*="card-karo-2"] {
  background-position: -130.6px -186.6px;
}
[class*="card-karo-3"] {
  background-position: -257.2px -186.6px;
}
[class*="card-karo-4"] {
  background-position: -383.79999999999995px -186.6px;
}
[class*="card-karo-5"] {
  background-position: -510.4px -186.6px;
}
[class*="card-karo-6"] {
  background-position: -637px -186.6px;
}
[class*="card-karo-7"] {
  background-position: -763.5999999999999px -186.6px;
}
[class*="card-karo-8"] {
  background-position: -890.1999999999999px -186.6px;
}
[class*="card-karo-9"] {
  background-position: -1016.8px -186.6px;
}
[class*="card-karo-10"] {
  background-position: -1143.3999999999999px -186.6px;
}
[class*="card-karo-J"] {
  background-position: -1270px -186.6px;
}
[class*="card-karo-Q"] {
  background-position: -1396.6px -186.6px;
}
[class*="card-karo-K"] {
  background-position: -1523.1999999999998px -186.6px;
}
[class*="card-kor-asz"] {
  background-position: -4px -373.2px;
}
[class*="card-kor-2"] {
  background-position: -130.6px -373.2px;
}
[class*="card-kor-3"] {
  background-position: -257.2px -373.2px;
}
[class*="card-kor-4"] {
  background-position: -383.79999999999995px -373.2px;
}
[class*="card-kor-5"] {
  background-position: -510.4px -373.2px;
}
[class*="card-kor-6"] {
  background-position: -637px -373.2px;
}
[class*="card-kor-7"] {
  background-position: -763.5999999999999px -373.2px;
}
[class*="card-kor-8"] {
  background-position: -890.1999999999999px -373.2px;
}
[class*="card-kor-9"] {
  background-position: -1016.8px -373.2px;
}
[class*="card-kor-10"] {
  background-position: -1143.3999999999999px -373.2px;
}
[class*="card-kor-J"] {
  background-position: -1270px -373.2px;
}
[class*="card-kor-Q"] {
  background-position: -1396.6px -373.2px;
}
[class*="card-kor-K"] {
  background-position: -1523.1999999999998px -373.2px;
}
[class*="card-pikk-asz"] {
  background-position: -4px -559.8px;
}
[class*="card-pikk-2"] {
  background-position: -130.6px -559.8px;
}
[class*="card-pikk-3"] {
  background-position: -257.2px -559.8px;
}
[class*="card-pikk-4"] {
  background-position: -383.79999999999995px -559.8px;
}
[class*="card-pikk-5"] {
  background-position: -510.4px -559.8px;
}
[class*="card-pikk-6"] {
  background-position: -637px -559.8px;
}
[class*="card-pikk-7"] {
  background-position: -763.5999999999999px -559.8px;
}
[class*="card-pikk-8"] {
  background-position: -890.1999999999999px -559.8px;
}
[class*="card-pikk-9"] {
  background-position: -1016.8px -559.8px;
}
[class*="card-pikk-10"] {
  background-position: -1143.3999999999999px -559.8px;
}
[class*="card-pikk-J"] {
  background-position: -1270px -559.8px;
}
[class*="card-pikk-Q"] {
  background-position: -1396.6px -559.8px;
}
[class*="card-pikk-K"] {
  background-position: -1523.1999999999998px -559.8px;
}
[class*="card-joker"] {
  background-position: -1px -744.4px;
}
[class*="card-hatlap"] {
  background-position: -130.6px -744.4px;
}
[class*="card-"]:hover {
  animation: negyzet 1s linear alternate;
  /*5 másodperc alatt, "loop"-olva*/

  -moz-animation: negyzet 1s linear alternate;
  /* Firefox */

  -webkit-animation: negyzet 1s linear alternate;
  /* Safari és Chrome */

  -o-animation: negyzet 1s linear alternate;
  /* Opera */

}
@keyframes negyzet {
  0% {
    top: 0px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: -30px;
  }
  100% {
    top: -40px;
  }
}
