
@link: "/carddecks/svg-dondorf/dondorf.png";
@sizeX: 2721px;
@sizeY: 1516px;
@sizeXu: 1632.6px;
@sizeYu: 909.6px;

@sizeXu_0_7: 1904.7px;
@sizeYu_0_7: 1054.2px;


@height: 280px;
@line-height: 280px;
@width: 180px;
@szunetX: 31px;
@szunetY: 31px;
@eltolasX: 4px;
@eltolasY: 0px;

@aranyszamX: @sizeXu / @sizeX;
@aranyszamY: @sizeYu / @sizeY;
@heightU: @height * @aranyszamY;
@line-heightU: @height * @aranyszamY;
@widthU: @width * @aranyszamX;
@szunetXU: @szunetX * @aranyszamX;
@szunetYU: @szunetY * @aranyszamY;

[class*="card-"] {
	background-image: url(@link);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: (@heightU);
	line-height: (@line-heightU);
	margin-top: 1px;
	vertical-align: text-top;
	width: @widthU;
	background-size: @sizeXu @sizeYu;
	position: absolute;
}

[class^="card-"]:hover
{
    -webkit-transform: translate(0px,-40px);
       -moz-transform: translate(0px,-40px);
    	 -o-transform: translate(0px,-40px);
        -ms-transform: translate(0px,-40px);
        
    transition: all 0.2s ease-in-out;
}

[class*="selected"]{
	top: -40px;
}

[class*="card-treff-asz"] { background-position: -1 * ((@widthU + @szunetXU) * 0  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-2"]	  { background-position: -1 * ((@widthU + @szunetXU) * 1  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-3"]	  { background-position: -1 * ((@widthU + @szunetXU) * 2  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-4"]	  { background-position: -1 * ((@widthU + @szunetXU) * 3  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-5"]	  { background-position: -1 * ((@widthU + @szunetXU) * 4  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-6"]	  { background-position: -1 * ((@widthU + @szunetXU) * 5  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-7"]	  { background-position: -1 * ((@widthU + @szunetXU) * 6  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-8"]	  { background-position: -1 * ((@widthU + @szunetXU) * 7  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-9"]	  { background-position: -1 * ((@widthU + @szunetXU) * 8  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-10"]  { background-position: -1 * ((@widthU + @szunetXU) * 9  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-J"]	  { background-position: -1 * ((@widthU + @szunetXU) * 10 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-Q"]	  { background-position: -1 * ((@widthU + @szunetXU) * 11 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }
[class*="card-treff-K"]	  { background-position: -1 * ((@widthU + @szunetXU) * 12 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 0 + @eltolasY); }

[class*="card-karo-asz"]  { background-position: -1 * ((@widthU + @szunetXU) * 0  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-2"]    { background-position: -1 * ((@widthU + @szunetXU) * 1  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-3"]    { background-position: -1 * ((@widthU + @szunetXU) * 2  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-4"]    { background-position: -1 * ((@widthU + @szunetXU) * 3  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-5"]    { background-position: -1 * ((@widthU + @szunetXU) * 4  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-6"]    { background-position: -1 * ((@widthU + @szunetXU) * 5  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-7"]    { background-position: -1 * ((@widthU + @szunetXU) * 6  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-8"]    { background-position: -1 * ((@widthU + @szunetXU) * 7  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-9"]    { background-position: -1 * ((@widthU + @szunetXU) * 8  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-10"]   { background-position: -1 * ((@widthU + @szunetXU) * 9  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-J"]    { background-position: -1 * ((@widthU + @szunetXU) * 10 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-Q"]    { background-position: -1 * ((@widthU + @szunetXU) * 11 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }
[class*="card-karo-K"]    { background-position: -1 * ((@widthU + @szunetXU) * 12 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 1 + @eltolasY); }

[class*="card-kor-asz"]	  { background-position: -1 * ((@widthU + @szunetXU) * 0  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-2"]     { background-position: -1 * ((@widthU + @szunetXU) * 1  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-3"]     { background-position: -1 * ((@widthU + @szunetXU) * 2  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-4"]     { background-position: -1 * ((@widthU + @szunetXU) * 3  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-5"]     { background-position: -1 * ((@widthU + @szunetXU) * 4  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-6"]     { background-position: -1 * ((@widthU + @szunetXU) * 5  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-7"]     { background-position: -1 * ((@widthU + @szunetXU) * 6  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-8"]     { background-position: -1 * ((@widthU + @szunetXU) * 7  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-9"]     { background-position: -1 * ((@widthU + @szunetXU) * 8  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-10"]    { background-position: -1 * ((@widthU + @szunetXU) * 9  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-J"]     { background-position: -1 * ((@widthU + @szunetXU) * 10 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-Q"]     { background-position: -1 * ((@widthU + @szunetXU) * 11 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }
[class*="card-kor-K"]     { background-position: -1 * ((@widthU + @szunetXU) * 12 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 2 + @eltolasY); }

[class*="card-pikk-asz"]  { background-position: -1 * ((@widthU + @szunetXU) * 0  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-2"]    { background-position: -1 * ((@widthU + @szunetXU) * 1  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-3"]    { background-position: -1 * ((@widthU + @szunetXU) * 2  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-4"]    { background-position: -1 * ((@widthU + @szunetXU) * 3  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-5"]    { background-position: -1 * ((@widthU + @szunetXU) * 4  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-6"]    { background-position: -1 * ((@widthU + @szunetXU) * 5  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-7"]    { background-position: -1 * ((@widthU + @szunetXU) * 6  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-8"]    { background-position: -1 * ((@widthU + @szunetXU) * 7  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-9"]    { background-position: -1 * ((@widthU + @szunetXU) * 8  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-10"]   { background-position: -1 * ((@widthU + @szunetXU) * 9  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-J"]    { background-position: -1 * ((@widthU + @szunetXU) * 10 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-Q"]    { background-position: -1 * ((@widthU + @szunetXU) * 11 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
[class*="card-pikk-K"]    { background-position: -1 * ((@widthU + @szunetXU) * 12 + @eltolasX)  -1 * ((@heightU + @szunetYU) * 3 + @eltolasY); }
			
[class*="card-joker"]     { background-position: -1 * ((@widthU + @szunetXU) * 0  + @eltolasX - 3)  -1 * ((@heightU + @szunetYU) * 4 + @eltolasY - 2); }
[class*="card-hatlap"]    { background-position: -1 * ((@widthU + @szunetXU) * 1  + @eltolasX)  -1 * ((@heightU + @szunetYU) * 4 + @eltolasY - 2); }



[class*="card-"]:hover{
		  animation:negyzet 1s linear alternate; /*5 másodperc alatt, "loop"-olva*/
	 -moz-animation:negyzet 1s linear alternate; /* Firefox */
  -webkit-animation:negyzet 1s linear alternate; /* Safari és Chrome */
 	   -o-animation:negyzet 1s linear alternate; /* Opera */


}
 
@keyframes negyzet
{
	0% {
		top:0px;
	}
	25% {
		top: -10px
	}
	50%{
		top: -20px
	}
	75%{
		top: -30px
	}
	100%{
		top: -40px;
	}
}
